@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  font-family: "Noto Sans KR", "Noto Sans", sans-serif;
}
/* Noto Sans KR */
@font-face {
  font-family: "Noto Sans KR";
  src: url("../_assets/fonts/noto-sans-kr.woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
}
/* Noto Sans EN */
@font-face {
  font-family: "Noto Sans";
  src: url("../_assets/fonts/noto-sans-en.woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
}
